PORT=3001 
CLIENT_KEY=123456 # key for client endpoints (used by game, easy to crack)
CHAR_LIMIT=12 # maximum username length
MAX_SCORES_RETURNED=100
LOG_LEVEL=info
TOKEN_EXP_DAYS=30

# SECRET  
ADMIN_KEY=abcdefgh987654321 # key for admin endpoints (used for admin, do not share)
JWT_SECRET=abc123